<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sello.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4AF36432193B5B30059AE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF36572193B5B50059AE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF36622193B5B60059AE6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
